# Filter countries in Asia from the Goal 9 dataset

## Import libraries

In [2]:
import pandas as pd

## Create a list of countries in Asia

In [3]:
countries_to_filter = [
    "Afghanistan", "Armenia", "Azerbaijan", "Bahrain", "Bangladesh", "Bhutan",
    "Brunei Darussalam", "Cambodia", "China", "Cyprus", "Democratic People's Republic of Korea",
    "Georgia", "India", "Indonesia", "Iran (Islamic Republic of)", "Iraq", "Israel",
    "Japan", "Jordan", "Kazakhstan", "Kuwait", "Kyrgyzstan", "Lao People's Democratic Republic",
    "Lebanon", "Malaysia", "Maldives", "Mongolia", "Myanmar", "Nepal", "Oman", "Pakistan",
    "Philippines", "Qatar", "Republic of Korea", "Saudi Arabia", "Singapore", "Sri Lanka",
    "Syrian Arab Republic", "Tajikistan", "Thailand", "Turkmenistan", "United Arab Emirates",
    "Uzbekistan", "Viet Nam", "Yemen"
]

## Load the dataset

In [4]:
file_path = "data/goal_9.xlsx"

In [5]:
df = pd.read_excel(file_path, sheet_name="Goal9 Filtered")

In [6]:
df.head()

,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,TimePeriod,Value,Time_Detail,Source,Mode of transportation,Nature,Units
0,IS_RDP_FRGVOL,"Freight volume, by mode of transport (tonne ki...",4,Afghanistan,2017,21462557.0,2017,ICAO,AIR,C,T_KM
1,IS_RDP_FRGVOL,"Freight volume, by mode of transport (tonne ki...",4,Afghanistan,2018,29559349.0,2018,ICAO,AIR,C,T_KM
2,IS_RDP_FRGVOL,"Freight volume, by mode of transport (tonne ki...",4,Afghanistan,2019,20014206.0,2019,ICAO,AIR,C,T_KM
3,IS_RDP_FRGVOL,"Freight volume, by mode of transport (tonne ki...",4,Afghanistan,2020,19878902.0,2020,ICAO,AIR,C,T_KM
4,IS_RDP_FRGVOL,"Freight volume, by mode of transport (tonne ki...",4,Afghanistan,2021,12020125.0,2021,ICAO,AIR,C,T_KM

## Filter the dataset

In [7]:
filtered_df = df[df['GeoAreaName'].isin(countries_to_filter)]

## Save the filtered dataset

In [8]:
with pd.ExcelWriter(file_path, mode='a', engine='openpyxl') as writer:
    filtered_df.to_excel(writer, index=False, sheet_name="Goal9 Filtered Asia")