In [2]:
import pandas as pd

In [5]:
df = pd.read_excel('data/merged_freight_gdp_data.xlsx')
df.head()

       Country  Year         Value      GDP     Scale Units_x
0  Afghanistan  2017  2.146256e+07  74712.0  Billions    T_KM
1  Afghanistan  2017  1.843686e+09  74712.0  Billions    P_KM
2  Afghanistan  2018  2.955935e+07  77332.0  Billions    T_KM
3  Afghanistan  2018  1.198398e+09  77332.0  Billions    P_KM
4  Afghanistan  2019  2.001421e+07  81706.0  Billions    T_KM

In [6]:
df_pivot = df.pivot_table(index=['Country', 'Year', 'GDP'], columns='Units_x', values='Value').reset_index()

In [8]:
df_pivot = df_pivot.fillna(0)

In [9]:
df_pivot.head()

Units_x      Country  Year      GDP          P_KM  TEU        T_KM
0        Afghanistan  2017  74712.0  1.843686e+09  0.0  21462557.0
1        Afghanistan  2018  77332.0  1.198398e+09  0.0  29559349.0
2        Afghanistan  2019  81706.0  1.039593e+09  0.0  20014206.0
3        Afghanistan  2020  80839.0  5.044067e+08  0.0  19878902.0
4        Afghanistan  2021  72251.0  3.000477e+08  0.0  12020125.0

In [10]:
df_pivot.describe()

Units_x         Year           GDP          P_KM           TEU          T_KM
count     363.000000  3.630000e+02  3.630000e+02  3.630000e+02  3.630000e+02
mean     2016.848485  1.663007e+06  3.400628e+10  1.255701e+07  1.256345e+09
std         3.701824  4.041166e+06  1.204326e+11  3.858418e+07  4.297769e+09
min      2010.000000  7.390000e+03  0.000000e+00  0.000000e+00  0.000000e+00
25%      2014.000000  8.195650e+04  0.000000e+00  0.000000e+00  0.000000e+00
50%      2017.000000  3.069810e+05  5.233700e+08  1.419227e+06  6.886070e+05
75%      2020.000000  1.061928e+06  1.130138e+10  9.722217e+06  2.581795e+08
max      2022.000000  3.019113e+07  1.169680e+12  2.689900e+08  3.336916e+10

In [11]:
df_pivot.to_excel('data/pivot_merged_table.xlsx', index=False)